.main-text {
    font-family: 'Palanquin Dark', sans-serif;
}
#header {
    background-color: salmon;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 55px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
    z-index: 1000;
}
#title {
    font-size: 30px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    color: white;
}
#footer {
    overflow: hidden;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    background-color: #301330;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.30);
}
#about {
    text-align: center;
    color: white;
}
.category-icons {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#container {
    margin-top: 70px;
    margin-left: 5%;
    width: 90%;
    position: absolute;
}
.item {
    cursor: pointer;
}
.container{
    margin:10px;
    margin-top:90px;
}

.rating {
    float:right;
    font-size: 1.5em;
}

.tags {
    font-weight:lighter;
    font-size: 0.8em;
    float:right;
    
}
#button, #button:focus, #button:active {
    position:fixed;
    bottom: 0;
    right: 0;
    height:80px;
    width:80px;
    line-height:80px;
    text-align:center;
    margin-bottom: 60px;
    margin-right:50px;
    background:#FFF0F0;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.24);
    border-radius:50%;
    outline: none;
    font-size:2em;
}

.new-form {
    margin:30px;
    margin-top:90px;
}

.slide-up
{
    bottom: 0px;
}

.slide-down
{
    bottom: -100vh;
    position: fixed;
}
#view2 {
    display: none;
}
.items {
    margin-top: 70px;
    margin-left: 5%;
    width: 90%;
    position: absolute;
}
.list-item {
    width: 100%;
    margin: 5px;
    margin-bottom: 0;
    padding: 7px;
    height: 50px;
    list-style-type: none;
}
.starCont{
    float: right;
    font-size:1.5em;
    color: white;
}
.itemLabel{
    color: white;
    font-size: 1.5em;
}
.desc{
    background-color: #95a5a6;
    color: white;
    width: 99%;
    margin-left: 1%;
    padding: 5px;
}