.main-text {
    font-family: 'Palanquin Dark', sans-serif;
}
#header {
    background-color: salmon;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 55px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);
}
#title {
    font-size: 30px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    color: white;
}
#footer {
    overflow: hidden;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    margin-bottom: 0px;
    width: 100%;
    background-color: #301330;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.30);
}
#about {
    text-align: center;
    margin-left: 45%;
    color: white;
    position: absolute;
    z-index: 100;
}
#container {
    top: 150px;
    position: absolute;
}
.item {
  width: 80px;
  height: 80px;
  float: left;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
}
.item.i1 { background: #2EC4B6; }
.item.i2 { background: #E71D36; }
.item.i3 { background: #FF9F1C; }
.item.i4 { background: #9BC53D; }
